extends layout

block content
  .content-small
    p Your file is being processed.
    p Check if your results are ready #[a(href='/result/' + id) here].
    .image-cat
    .img-source
      p Awesome GIF by #[a(href='http://robindavey.co.uk/') Robin Davey].
