extends layout

block content
  .content-small
    p Your id was #{id}.
    p You can save this page for future reference, but files may be deleted from the server.

    p #[a(href='download/' + id class='pure-button pure-button-primary button-wide') Download JSON ]



  .content-wide
    h2 Most common k-mers

    table(class="pure-table")
      thead
        tr
          for object in objects
            th= object['number'] + ' repeats'
      tbody
        tr
          for object in objects

            td
              each item in object['sequences']
                p(class="seq")= item
